body {
  background-color: rgb(248, 243, 235);
  margin: 0 auto;
  padding: 0;
}
.bgcolor {
  background-color: #e0f0fc;
  padding: 2rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}
.firstp {
  text-align: end;
}
.pC {
  color: red;
}
h3 {
  text-align: center;
}
.labelNotes {
  font-size: smaller;
}
.test {
  background-color: aquamarine;
}
.select {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  min-width: 100px;
  max-width: 100%;
}
.bgColor {
  background-color: green;
}
.btn {
  margin: 0 auto;
  background-color: green;
}
.divi {
  margin-bottom: 5rem;
}
.diviBottom {
  margin-top: 5rem;
  padding-top: 1rem;
}
