body {
  background-color: rgb(248, 243, 235);
  margin: 0 auto;
  padding: 0;
}
.bgcolor {
  background-color: #e0f0fc;
  padding: 2rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}
.firstp {
  text-align: end;
}
.errortext {
  color: red;
}
h3 {
  text-align: center;
}
.labelNotes {
  font-size: smaller;
}
.test {
  background-color: aquamarine;
}
.select {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  min-width: 100px;
  max-width: 100%;
}
.bgColor {
  background-color: green;
}
.bgbtn {
  text-align: center;
}
.btn {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.divi {
  margin-bottom: 5rem;
}
.diviBottom {
  margin-top: 5rem;
  padding-top: 1rem;
}
input,
select {
  display: inline-block;
  background: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 5px;
  min-width: 100px;
  max-width: 100%;
}

select {
  /* width: 250px; */
  text-overflow: ellipsis;
}
.submitBtn {
  color: white;
  font-size: 16px;
  background: #000;
  border-radius: 5px;
  border-color: #000;
  padding: 5px 10px 5px 10px;
  text-align: center;
  min-width: 100px;
}

.submitBtn:hover {
  cursor: pointer;
}
